@import "compass/css3"
@import "compass/typography"

$line:      24
$font-size: 16
$em:        $font-size * 1

=josefin
  font-family: 'Josefin Sans', sans-serif
  font-weight: 700

=marker
  font-family: 'Permanent Marker', cursive
  font-weight: 400

*
  +box-sizing(border-box)

html, body
  background: #D4D4D4

html
  height: 100%
  // line-height: 18px
  color: hsl( 0, 0%, 27% )
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

body
  margin: 0 auto ($line * 2px)
  padding-bottom: ($line * 2px)
  padding:
    right: $line * 1px
    left:  $line * 1px
  min-height: 100%
  font-size: 100%

body
  font-size: $font-size / 16 * 1em
  line-height: #{$line / $em}em

// @media screen and (min-width: 640px)
@media screen and (min-width: 40em)
  body
    // Zoom baseline grid to 17/16 = 1.0625
    font-size: #{($font-size + 1) / $em}em

// @media screen and (min-width: 720px)
@media screen and (min-width: 45em)
  body
    // Reset baseline grid to 16/16 = 1
    font-size: #{$font-size / $em}em

// @media screen and (min-width: 1200px)
@media screen and (min-width: 75em)
  body
    // Zoom baseline grid to 17/16 = 1.0625
    font-size: #{($font-size + 1) / $em}em

// @media screen and (min-width: 2080px)
@media screen and (min-width: 130em)
  body
    // Zoom baseline grid to 18/16 = 1.125
    font-size: #{($font-size + 2) / $em}em
    max-width: 2560 / $em em

a
  +link-colors( hsl( 0, 0%, 22% ), hsl( 0, 0%, 40% ), hsl( 0, 0%, 22% ), hsl( 0, 0%, 22% ), hsl( 0, 0%, 22% ) )
  text-decoration: underline

header
  padding-top: 36px
  text-align: center
  a
    +hover-link

h1, h2, h3
  margin-top: 0
  text-shadow: 0 1px 0 #FFF

h1
  +marker
  line-height: 18px * 3
  font-size: 48px
  color: hsl( 325, 80%, 31% )
  text-shadow: 0 1px 0 hsla( 0, 0%, 100%, .6 )

h2
  margin: 0 0 18px 0
  font-size: 24px
  line-height: 36px

// Box
#main
  position: relative
  margin-bottom: ($line * 2px)
  padding: ($line * 1px) 0 0 0
  width: 100%
  border-radius: 5px
  background: #ECECEC
  box-shadow: 0 1px 2px hsla( 0, 0%, 0%, .6 )

  > section
    > h2, > p
      text-align: center

  h2
    margin-left:  ($line * .5px)
    margin-right: ($line * .5px)

    & + p
      margin-top: -($line * .5px)
      color: hsl( 0, 0%, 60% )

  p
    margin: 
      top:    0
      right:  ($line * .5px)
      bottom: ($line * .5px)
      left:   ($line * .5px)

  label
    position: relative
    display: block
    margin-bottom: 18px
    margin-left: -2px
    padding: 9px 0
    width: 640px + 2
    border-right: 1px solid hsla( 0, 0%, 100%, .3 )
    border-left: 1px solid hsla( 0, 0%, 100%, .3 )
    +border-top-radius( 3px )
    background: hsl( 192, 74%, 46% )
    color: #FFF
    font-weight: bold
    text-align: center
    text-shadow: 0 -1px 0 hsla( 0, 0%, 0%, .6 )
    box-shadow: inset 0 1px 0 hsla( 0, 0%, 100%, .8 ), 0 1px 2px hsla( 0, 0%, 0%, .6 )

    &::before, &::after
      content: " "
      position: absolute
      bottom: -3px
      display: block
      width: 18px * 2
      height: 18px * 2
      border: 0
      background: hsl( 192, 74%, 35% )

    &::before
      left: ( -18px * 2 ) - 1
      box-shadow: -1px 1px 2px hsla( 0, 0%, 0%, .6 )
      +background-image( linear-gradient( left, hsl( 192, 74%, 46% ), hsl( 192, 74%, 35% ) ) )
      +skewY( 7deg )

    &::after
      right: ( -18px * 2 ) - 1
      box-shadow: 1px 1px 2px hsla( 0, 0%, 0%, .6 )
      +background-image( linear-gradient( left, hsl( 192, 74%, 35% ), hsl( 192, 74%, 46% ) ) )
      +skewY( -7deg )

  label.error
    background: hsl( 15, 75%, 46% )

    &::before
      background: hsl( 15, 75%, 35% )
      +background-image( linear-gradient( left, hsl( 15, 75%, 46% ), hsl( 15, 75%, 35% ) ) )

    &::after
      background: hsl( 15, 75%, 35% )
      +background-image( linear-gradient( left, hsl( 15, 75%, 35% ), hsl( 15, 75%, 46% ) ) )

// @media screen and (min-width: 720px)
@media screen and (min-width: 45em)
  body
    padding:
      right: 0
      left:  0

  header
    text-align: left

  header, #main
    width: 640px
    margin:
      right: auto
      left:  auto

  #main
    > section
      > h2, > p
        text-align: left

// Form
#main form
  input:focus
    outline: 3px solid #F8E65E

  input[type=url]
    display: block
    margin-bottom: $line * 1px
    padding: ($line * .5px) 0 ($line * .5px) ($line * .5px)
    -webkit-appearance: none
    width: 100%
    height:      48px + ($line * 1px)
    line-height: 48px + ($line * 1px)
    border: 0
    border-top:    1px solid hsl( 0, 0%, 67% )
    border-bottom: 1px solid hsl( 0, 0%, 67% )
    border-radius: 0
    font-size: 28px
    background: #FFF
    color: #000

    &:invalid
      color: red

    &:focus
      color: #000

  input[type=submit]
    position: absolute
    bottom: 0
    right: 0
    padding: ($line * .5px) ($line * 1px)
    -webkit-appearance: none
    height:      $line * 1px
    line-height: $line * 1px
    border: 0
    border-left: 1px solid hsl( 0, 0%, 67% )
    border-radius: 0
    +border-bottom-right-radius( 5px )
    box-sizing: content-box
    +background-image( linear-gradient( lighten( hsl( 325, 80%, 31% ), 10% ), lighten( hsl( 325, 80%, 31% ), 10% ) 50%, hsl( 325, 80%, 31% ) 50% ) )
    font-weight: bold
    color: #FFF
    text-shadow: 0 -1px 0 hsla( 0, 0%, 0%, .6 )

    &:hover, &:focus
      +background-image( linear-gradient( hsl( 325, 80%, 31% ), hsl( 325, 80%, 31% ) 50%, darken( hsl( 325, 80%, 31% ), 10% ) 50% ) )
    &:active
      +background-image( linear-gradient( darken( #FFF, 15% ), darken( #FFF, 15% ) 50%, darken( #F2F2F2, 25% ) 50% ) )

  & + p:last-of-type
    margin-bottom: $line * 1px

// Thread
#main ol
  padding: 0
  border-bottom: 1px solid hsl( 0, 0%, 67% )
  list-style-type: none

  li
    position: relative
    padding: ($line * .5px) ($line * 1px)
    border-top: 1px solid hsl( 0, 0%, 67% )
    
    img
      position: absolute
      top: ($line * .5px) + 3px
      left: $line * 1px
      border-radius: 5px

    h3
      position: absolute
      left: 54px + $line * 1.5
      margin-bottom: 9px

      span
        display: block
        margin-top: $line * .25px
        color: hsl( 0, 0%, 60% )
        font-size: 14px
        font-weight: normal

    time
      position: absolute
      top:   $line * .5px
      right: $line * 1px
      height: 20px
      color: hsl( 0, 0%, 60% )
      font-size: 14px

    p
      margin-top: 54px + $line * .5px
      margin-left: 0
      margin-right: 0

    &:nth-of-type(2n+1)
      background: #FAFAFA

    &.error
      padding: 18px

      p
        margin: 0
        font-style: italic
        text-align: center

  & + p
    margin-bottom: 18px
    text-align: center
    font-style: italic
    color: hsl( 0, 0%, 60% )

// @media screen and (min-width: 720px)
@media screen and (min-width: 45em)
  #main ol
    padding: 0
    border-bottom: 1px solid hsl( 0, 0%, 67% )
    list-style-type: none

    li
      position: relative
      padding: 9px 18px 9px ( 18px * 5 )
      border-top: 1px solid hsl( 0, 0%, 67% )
      
      img

      h3
        position: static
        margin-bottom: 9px

        span
          display: inline

      time

      p
        margin-top: 0

// Footer
#main footer
  padding: ($line * .5px) 0
  height: 48px
  border-top: 1px solid hsl( 0, 0%, 67% )
  +border-bottom-radius( 5px )
  background-clip: padding-box
  background: #FAFAFA
  color: hsl( 0, 0%, 60% )
  text-shadow: 0 1px 0 #FFF

  p:last-child
    margin-bottom: 0

