<!DOCTYPE html>
<!-- <![CDATA[
 
                      .--.
                    ."  o \__
                 _.-"    ,(  `
             _.-"      ,;;|
        _.-=" _,"    ,,;;;'
    .-"`_.-"``-..,,;;;;:'
    `"'`          `\`\
        jgs        /^\\\
 
]]> -->
<html lang="en-CA">

<head>
  <title>Twatlr - Share Twitter Conversations</title>
  <link href=/normalize.css rel=stylesheet>
  <link href=/webpage.css rel=stylesheet>
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker&text=Twatlr' rel=stylesheet>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-319181-8']);
    _gaq.push(['_setDomainName', '.twatlr.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

<body>
  <header>
    <a href=/>
      <h1>Twatlr</h1>
    </a>
  </header>

  <div id="main">
    <section>
      <h2>Share Twitter Conversations</h2>
      <label for=tweet class=$labelclass$>$labeltext$</label>
      <form method=get action=/thread>
        <input type=url name=tweet id=tweet placeholder=http://twitter.com/gf3/status/4957638324387840 tabindex=1 autofocus>
        <input type=submit value="Get Thread &rarr;" tabindex=2>
      </form>
      <p>
        View <a href=/thread/98933063295320064>an example</a> conversation to get started.
      </p>
    </section>

    <footer>
      <p>Built with love by <a href=http://gf3.ca>Gianni "gf3" Chiappetta</a>.</p>
    </footer>
  </div>

