$head$

<body>
  <header>
    <a href=/>
      <h1>Twatlr</h1>
    </a>
  </header>

  <div id="main">
    <section>
      <h2>Share Twitter Conversations</h2>
      <label for=tweet class=$labelclass$>$labeltext$</label>
      <form method=get action=/thread>
        <input type=url name=tweet id=tweet placeholder=http://twitter.com/gf3/status/4957638324387840 tabindex=1 autofocus required>
        <input type=submit value="Get Thread &rarr;" tabindex=2>
      </form>
      <p>
        View <a href=/thread/98933063295320064>an example</a> conversation to get started.
      </p>
    </section>

    <footer>
      <p>Built with love by <a href=http://gf3.ca>Gianni "gf3" Chiappetta</a>.</p>
    </footer>
  </div>

