<!DOCTYPE html>
<!-- <![CDATA[
 
                      .--.
                    ."  o \__
                 _.-"    ,(  `
             _.-"      ,;;|
        _.-=" _,"    ,,;;;'
    .-"`_.-"``-..,,;;;;:'
    `"'`          `\`\
        jgs        /^\\\
 
]]> -->
<html lang="en-CA">

<head>
  <title>Twatlr - Share Twitter Conversations</title>
  <link href=/normalize.css rel=stylesheet>
  <link href=/webpage.css rel=stylesheet>
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker&text=Twatlr' rel=stylesheet>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-319181-8']);
    _gaq.push(['_setDomainName', '.twatlr.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

<body>
  <header>
    <a href=/>
      <h1>Twatlr</h1>
    </a>
  </header>

  <div id="main">
    <section>
      <h2>Share Twitter Conversations</h2>
      $content$
    </section>

    <footer>
      <p>Built with love by <a href=http://gf3.ca>Gianni "gf3" Chiappetta</a>.</p>
    </footer>
  </div>

  <script>
    function require ( m ) {}
    var exports = {}
  </script>
  <script src=/higherorder.js></script>
  <script src=/react.js></script>
  <script src=/ago.js></script>
  <script>
    var r = exports
      , times = query( 'ol li time' )

    function zip () {
      var i = -1
        , a = toArray( arguments )
      return map( function () {
        i++
        return map( function ( j ) { return j[i] }, a )
      }, a[0] )
    }

    function query ( selector, context ) {
      return toArray( ( context || document ).querySelectorAll( selector) )
    }

    function queryOne ( selector, context ) {
      return ( context || document ).querySelector( selector )
    }

    function toRelativeDate ( domEl ) {
      return ago( new Date( domEl.innerHTML ) )
    }

    function setContent ( a ) {
      a[0].innerHTML = a[1]
    }

    // Lol do it
    map( setContent, zip( times, map( toRelativeDate, times ) ) )
  </script>
