/* line 12, ../webpage.sass */
html, body {
  background: #d4d4d4;
}

/* line 15, ../webpage.sass */
html {
  line-height: 18px;
  color: #454545;
}

/* line 19, ../webpage.sass */
body {
  margin: 0 auto;
  width: 640px;
}

/* line 23, ../webpage.sass */
a {
  color: #383838;
  text-decoration: underline;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #383838;
}
/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #383838;
}
/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #666666;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #383838;
}

/* line 27, ../webpage.sass */
header {
  padding-top: 36px;
}
/* line 29, ../webpage.sass */
header a {
  text-decoration: none;
}
/* line 4, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
header a:hover {
  text-decoration: underline;
}

/* line 32, ../webpage.sass */
h1, h2, h3 {
  margin-top: 0;
  text-shadow: 0 2px 0 white;
}

/* line 36, ../webpage.sass */
h1 {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  line-height: 54px;
  font-size: 48px;
  color: #8e105a;
  text-shadow: 0 2px 0 rgba(255, 255, 255, 0.6);
}

/* line 43, ../webpage.sass */
h2 {
  margin: 0 0 18px 0;
  font-size: 24px;
  line-height: 36px;
}

/* line 49, ../webpage.sass */
#main {
  position: relative;
  margin-bottom: 36px;
  padding: 18px 0 0 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: #ececec;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
/* line 57, ../webpage.sass */
#main h2 {
  margin-left: 18px;
}
/* line 60, ../webpage.sass */
#main h2 + p {
  margin-top: -9px;
  color: #999999;
}
/* line 64, ../webpage.sass */
#main p {
  margin: 0 18px 9px 18px;
}
/* line 67, ../webpage.sass */
#main label {
  position: relative;
  display: block;
  margin-bottom: 18px;
  margin-left: -2px;
  padding: 9px 0;
  width: 642px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -o-border-top-left-radius: 3px;
  -ms-border-top-left-radius: 3px;
  -khtml-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  -o-border-top-right-radius: 3px;
  -ms-border-top-right-radius: 3px;
  -khtml-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  background: #1ea9cc;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.6);
}
/* line 84, ../webpage.sass */
#main label::before, #main label::after {
  content: " ";
  position: absolute;
  bottom: -3px;
  display: block;
  width: 36px;
  height: 36px;
  border: 0;
  background: #17819b;
}
/* line 94, ../webpage.sass */
#main label::before {
  left: -37px;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.6);
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #1ea9cc), color-stop(100%, #17819b));
  background-image: -webkit-linear-gradient(left, #1ea9cc, #17819b);
  background-image: -moz-linear-gradient(left, #1ea9cc, #17819b);
  background-image: -o-linear-gradient(left, #1ea9cc, #17819b);
  background-image: -ms-linear-gradient(left, #1ea9cc, #17819b);
  background-image: linear-gradient(left, #1ea9cc, #17819b);
  -moz-transform: skewY(7deg);
  -webkit-transform: skewY(7deg);
  -o-transform: skewY(7deg);
  -ms-transform: skewY(7deg);
  transform: skewY(7deg);
}
/* line 100, ../webpage.sass */
#main label::after {
  right: -37px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #17819b), color-stop(100%, #1ea9cc));
  background-image: -webkit-linear-gradient(left, #17819b, #1ea9cc);
  background-image: -moz-linear-gradient(left, #17819b, #1ea9cc);
  background-image: -o-linear-gradient(left, #17819b, #1ea9cc);
  background-image: -ms-linear-gradient(left, #17819b, #1ea9cc);
  background-image: linear-gradient(left, #17819b, #1ea9cc);
  -moz-transform: skewY(-7deg);
  -webkit-transform: skewY(-7deg);
  -o-transform: skewY(-7deg);
  -ms-transform: skewY(-7deg);
  transform: skewY(-7deg);
}
/* line 106, ../webpage.sass */
#main label.error {
  background: #cd491d;
}
/* line 109, ../webpage.sass */
#main label.error::before {
  background: #9c3816;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #cd491d), color-stop(100%, #9c3816));
  background-image: -webkit-linear-gradient(left, #cd491d, #9c3816);
  background-image: -moz-linear-gradient(left, #cd491d, #9c3816);
  background-image: -o-linear-gradient(left, #cd491d, #9c3816);
  background-image: -ms-linear-gradient(left, #cd491d, #9c3816);
  background-image: linear-gradient(left, #cd491d, #9c3816);
}
/* line 113, ../webpage.sass */
#main label.error::after {
  background: #9c3816;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #9c3816), color-stop(100%, #cd491d));
  background-image: -webkit-linear-gradient(left, #9c3816, #cd491d);
  background-image: -moz-linear-gradient(left, #9c3816, #cd491d);
  background-image: -o-linear-gradient(left, #9c3816, #cd491d);
  background-image: -ms-linear-gradient(left, #9c3816, #cd491d);
  background-image: linear-gradient(left, #9c3816, #cd491d);
}

/* line 119, ../webpage.sass */
#main form input:focus {
  outline: 3px solid #f8e65e;
}
/* line 122, ../webpage.sass */
#main form input[type=url] {
  display: block;
  margin-bottom: 36px;
  padding: 9px 0 9px 18px;
  -webkit-appearance: none;
  width: 622px;
  height: 36px;
  line-height: 36px;
  border: 0;
  border-top: 1px solid #ababab;
  border-bottom: 1px solid #ababab;
  font-size: 28px;
  background: white;
  color: black;
}
/* line 137, ../webpage.sass */
#main form input[type=url]:invalid {
  color: red;
}
/* line 140, ../webpage.sass */
#main form input[type=url]:focus {
  color: black;
}
/* line 143, ../webpage.sass */
#main form input[type=submit] {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 9px 18px;
  -webkit-appearance: none;
  height: 18px;
  line-height: 18px;
  border: 0;
  border-left: 1px solid #ababab;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-sizing: content-box;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bc1576), color-stop(50%, #bc1576), color-stop(50%, #8e105a));
  background-image: -webkit-linear-gradient(#bc1576, #bc1576 50%, #8e105a 50%);
  background-image: -moz-linear-gradient(#bc1576, #bc1576 50%, #8e105a 50%);
  background-image: -o-linear-gradient(#bc1576, #bc1576 50%, #8e105a 50%);
  background-image: -ms-linear-gradient(#bc1576, #bc1576 50%, #8e105a 50%);
  background-image: linear-gradient(#bc1576, #bc1576 50%, #8e105a 50%);
  font-weight: bold;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
}
/* line 160, ../webpage.sass */
#main form input[type=submit]:hover, #main form input[type=submit]:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8e105a), color-stop(50%, #8e105a), color-stop(50%, #600b3d));
  background-image: -webkit-linear-gradient(#8e105a, #8e105a 50%, #600b3d 50%);
  background-image: -moz-linear-gradient(#8e105a, #8e105a 50%, #600b3d 50%);
  background-image: -o-linear-gradient(#8e105a, #8e105a 50%, #600b3d 50%);
  background-image: -ms-linear-gradient(#8e105a, #8e105a 50%, #600b3d 50%);
  background-image: linear-gradient(#8e105a, #8e105a 50%, #600b3d 50%);
}
/* line 162, ../webpage.sass */
#main form input[type=submit]:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d9d9d9), color-stop(50%, #d9d9d9), color-stop(50%, #b2b2b2));
  background-image: -webkit-linear-gradient(#d9d9d9, #d9d9d9 50%, #b2b2b2 50%);
  background-image: -moz-linear-gradient(#d9d9d9, #d9d9d9 50%, #b2b2b2 50%);
  background-image: -o-linear-gradient(#d9d9d9, #d9d9d9 50%, #b2b2b2 50%);
  background-image: -ms-linear-gradient(#d9d9d9, #d9d9d9 50%, #b2b2b2 50%);
  background-image: linear-gradient(#d9d9d9, #d9d9d9 50%, #b2b2b2 50%);
}
/* line 165, ../webpage.sass */
#main form + p:last-of-type {
  margin-bottom: 36px;
}

/* line 169, ../webpage.sass */
#main ol {
  padding: 0;
  border-bottom: 1px solid #ababab;
  list-style-type: none;
}
/* line 174, ../webpage.sass */
#main ol li {
  position: relative;
  padding: 9px 18px;
  border-top: 1px solid #ababab;
}
/* line 179, ../webpage.sass */
#main ol li h3 span {
  color: #999999;
  font-size: 14px;
  font-weight: normal;
}
/* line 183, ../webpage.sass */
#main ol li time {
  position: absolute;
  top: 9px;
  right: 18px;
  height: 20px;
  color: #999999;
  font-size: 14px;
}
/* line 190, ../webpage.sass */
#main ol li p {
  margin-left: 0;
  margin-right: 0;
}
/* line 194, ../webpage.sass */
#main ol li:nth-of-type(2n+1) {
  background: #fafafa;
}
/* line 197, ../webpage.sass */
#main ol + p {
  margin-bottom: 18px;
  text-align: center;
  font-style: italic;
  color: #999999;
}

/* line 204, ../webpage.sass */
#main footer {
  padding: 9px 0;
  border-top: 1px solid #ababab;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-clip: padding-box;
  background: #fafafa;
  color: #999999;
  text-shadow: 0 1px 0 white;
}
/* line 213, ../webpage.sass */
#main footer p:last-child {
  margin-bottom: 0;
}
